<?xml version="1.0" encoding="UTF-8"?>
<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
	bootstrap="tests/phpunit-bootstrap.php"
	backupGlobals="false"
	backupStaticAttributes="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	stopOnError="false"
	stopOnFailure="false"
	stopOnIncomplete="false"
	stopOnSkipped="false"
	verbose="true"
	>
	<php>
		<const name="PHPUNIT_MI11ER_UTILITY_TESTSUITE" value="true"/>
	</php>
	<testsuites>
		<testsuite name="unit">
			<directory suffix="test.php">tests/unit/</directory>
		</testsuite>
	</testsuites>
	<testsuite name="integration">
		<directory suffix="test.php">tests/integration/</directory>
	</testsuite>
	<logging>
		<log type="coverage-php" target="build/logs/phpunit.cov"/>
	</logging>
	<filter>
		<whitelist>
			<directory>includes/</directory>
			<file>mi11er-utility.php</file>
			<file>uninstall.php</file>
		</whitelist>
	</filter>
</phpunit>
